<h1>資料登録</h1>
 <ul>
  <li><a href="gmd">資料種別登録へ</a></li>
  <li><a href="name">組織・個人名称登録へ</a></li>
  <li><a href="ufile">アップロードファイル登録へ</a></li>
  <li><a href="lang">言語登録へ</a></li>
  <li><a href="record">レコード登録へ</a>注意：レコード登録を行う前には、上記の各項目を必ずチェックしてください</li>
　</ul>
