<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="test_search_easy.css">
<title><%=@title %></title>
</head>
<bodyid>
<h1 id="top"><img src="test1.png" alt="test" width="100%" height="20%"></h1>
<%=yield %>
</body>
</html>
