<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="search_detail.css">
</head>
<body>
<h3>　　詳細検索
<a href="search_easy.html">フリーワード検索</a>
<a href="">このデータベースの使い方</a>
</h3>

<div id="search_box_left">
<p>
<select name="box">
<option value="creator">作成者
<option value="title">タイトル
<option value="contents">内容
</select>
<input type="text" name="text1" size="20" />
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>
<p>
<select name="box">
<option value="creator">作成者
<option value="title">タイトル
<option value="contents">内容
</select>
<input type="text" name="text1" size="20" />
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>
<p>
<select name="box">
<option value="creator">作成者
<option value="title">タイトル
<option value="contents">内容
</select>
<input type="text" name="text1" size="20" />
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>
<p>
<select name="box">
<option value="creator">作成者
<option value="title">タイトル
<option value="contents">内容
</select>
<input type="text" name="text1" size="20" />
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>
<p>
<select name="box">
<option value="creator">作成者
<option value="title">タイトル
<option value="contents">内容
</select>
<input type="text" name="text1" size="20" />
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>
<p>
<select name="box">
<option value="creator">作成者
<option value="title">タイトル
<option value="contents">内容
</select>
<input type="text" name="text1" size="20" />
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>
<p>
<select name="box">
<option value="creator">作成者
<option value="title">タイトル
<option value="contents">内容
</select>
<input type="text" name="text1" size="20" />
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>
</div>

<div id="search_box_right">
<p>
資料種別　
<select name="box">
<option value="">
<option value="paper">文書
<option value="picture">写真
<option value="poster">ポスター
</select>
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>

<p>
言語　　　　
<select name="box">
<option value="">
<option value="jpn">日本語
<option value="kor">朝鮮・韓国語
<option value="zho">中国語
<option value="eng">英語
</select>
<select name="condition">
<option value="creator">AND
<option value="title">OR
<option value="contents">NOT
</select>
</p>

<p>
年代　　　　
<input type="text" name="text1" size="10" />　～　<input type="text" name="text1" size="10" />
</p>

<p>
<input type="radio" name="anyfiles" value="1" />この端末で閲覧可能なファイルがある資料のみ結果に表示する
</p>
</div>



<div id="search_button">
		<input type="submit" value="search" />
		<input type="submit" value="clear" />
</div>
		
<div id="bottom">
	<address>Copyright(C) XXX資料室</address><br/>
	<a href="">注意・免責事項</a>
</div>
</body>
</html>
